/* CONTACT FORM */
legend {
    color: #ebfeff;
    font-weight: bolder;
    font-style: oblique;
    font-size: 32px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}

label {
    display: block;
    padding-bottom: 1px;
    /* pad: 0.5rem 0; */
    /* border: 2px dashed red; */
}

textarea {
    max-width: 580px;
    min-width: 50%;
    min-height: 50px;
}

#submit {
    margin-left: 8px;
    font-size: 16px;
}

.names {
    display: inline-flex;
    column-gap: 27%;
}


.phone-email {
    display: inline-flex;
    column-gap: 27%;
}

.contact-method {
    display: inline-flex;
    column-count: 3;
    column-fill: balance;
    column-gap: 2px;
}

/* Inherits stuff from FORM */
fieldset {
    border: none;
    padding: 1rem;
    /* max-width: 600px; */
    margin-left: 4px;
    max-width: inherit;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(202, 254, 255, 0.76);
    /* background-color: rgba(0, 183, 255, 0.877); */
}

fieldset:last-of-type {
    border-bottom: none;
}


form {
    margin: 0 auto;
    max-width: 600px;
    min-width: 500px;
    border: 2px solid rgba(202, 254, 255, 0.76);
    display: flex;
    flex-direction: column;
    /* background-color: rgba(27, 86, 123, 0.53); */
    background-color: rgba(28, 102, 115, 0.719);
    color: #ebfeff;
    border-color: #ebfeff;
}

.form-responsive {
    max-width: 600px;
    width: 100%;
}

form input,
textarea,
submit {
    background-color: rgba(28, 102, 115, 0.719);
    border-color: #ebfeff;
    color: #ebfeff;

}

header {
    display: inline-flex;
    /* align-content: end;  */
    /* position: relative; 
    justify-content: center; */
    width: 100%;
    padding: 8px;
}

::placeholder {
    color: #ebfeff;
    opacity: 1;
    /* For Firefox users*/
}

html {
    scroll-padding-top: 20px;
    /* height of sticky header */
}

/* NAV NAV NAV */

nav {
    display: flex;
    position: static;
    top: 0;
    width: 100%;
    /* max-height: 70px;  */
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(62, 134, 172, 0.573);
    font-size: 20px;
}

nav a {
    font-size: larger;
    color: black;
    border-right: 1px solid #7ed0d3;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    margin: 0;
}

nav a:hover {
    background-color: rgb(145, 223, 231);
    font-weight: bolder;
    font-size: larger;
    /* Below is another way to do this*/
    /* transform: scale(1.1); */
}

nav a:last-child {
    border-right: none;
}


/* FONT FONT FONT */

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgba(26, 85, 96, 0.075); */
    /* background-color: rgba(26, 85, 96, 0.934); */
}

html {
    /* background-color: rgba(26, 85, 96, 0.934); */
    background-color: rgba(71, 170, 197, 0.753);
}


/* GALLERY GALLERY GALLERY */
/* First I had Grid, then changed to Flexbox */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    padding: 5px;
    margin: 8px;
    width: calc(25% - 30px);
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: #001ba1 1px solid;
}


/* When hovering over one image, it zooms also the descenders of it. Way to fix it?? */
.gallery div:hover {
    border: #ffffff 2px solid;
    transform: scale(1.2);
}

/* I followed the W3Schools */
@media only screen and (max-width:768px) {
    .gallery-item {
        width: calc(50% - 30px);
    }
}

@media only screen and (max-width: 480px) {
    .gallery-item {
        width: calc(25% - 10px)
    }
}

/* ABOUT ME ABOUT ME ABOUT ME*/
.sectionOneContainer {
    display: flex;
    /* align-items: left; */
}

#description {
    /* background-color: #3e89bea7; */
    padding: 5px;
    /* height:fit-content  */
}

#about-body {
    margin: 0 auto;
    width: 80%;
    display: grid;
    justify-content: center;
    border: 2px rgba(6, 6, 152, 0.386) dashed;
    font-size: larger;
}

#about-body h1 {
    margin-left: 50px;
}

#profile-picture {
    margin: 20px;
    margin-top: 100px;
    padding: 25px;
    background-color: #3477b6fb;
    height: 5%;
}

.about-list li {
    padding: 25px;
    margin-left: 10px;
    background-color: #3e89bea7;
    list-style: inside circle;

}

.wishlist {
    list-style-image: url("images/gift-icon.png");
    list-style-position: inside;
    background-color: #98d0dc;
    padding: 10px;
}

.artists {
    list-style-image: url("images/music-icon.png");
    list-style-position: inside;
    background-color: #426a8a7f;
    padding: 12px;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px;
}


/* CV CV CV CV CV*/
.cv {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    /* display: grid; */
    /* justify-content: center; */
    border: 2px rgba(6, 6, 152, 0.386) dashed;
}

.cv section {
    border-bottom: 1px dashed gray;
}

.cv h1 {
    text-decoration: underline overline;
    font-size: xx-large;
    text-align: center;
}

.cv h2 {
    padding: 0 auto;
    font-size: large;
    text-align: center;
}

.cv h3 {
    font-size: larger;
    text-decoration: underline;
}

.cv section:last-child {
    border-bottom: none;
}

.technical-skills {
    color: black;
    border-top: 1px dashed gray;
}

.experience {
    color: black;
}

.education {
    color: black;
}

.hobbies {
    color: black;
}

.languages {
    color: black;
}

/* WELCOME PAGE WELCOME PAGE WELCOME PAGE*/
.welcome-page {
    background-image: url('/images/panorama2.JPG');
    height: 410px;
    background-repeat: repeat;
    background-size: cover;
    color: white;
    text-align: center;
    align-content: center;
    font-size:large;
}
.welcome-page p, h1{
    background-color: #001ba16e
}

footer{
    text-align: center;
    
}
