/* CONTACT FORM */
legend {
    color: #ebfeff;
    font-weight: bolder;
    font-style: oblique;
    font-size: 32px;
    /* margin-left: 15px; */
    /* margin-top: 15px; */
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 0;
}

label {
    display: block;
    padding-bottom: 1px;
    /* pad: 0.5rem 0; */
    /* border: 2px dashed red; */
}

textarea {
    max-width: 580px;
    min-width: 50%;
    min-height: 50px;
}

#submit {
    margin-left: 8px;
    font-size: 16px;
}

.names {
    display: inline-flex;
    column-gap: 27%;
}


.phone-email {
    display: inline-flex;
    column-gap: 27%;
}

.contact-method {
    display: inline-flex;
    column-count: 3;
    column-fill: balance;
    column-gap: 2px;
}

/* Inherits stuff from FORM */
fieldset {
    border: none;
    padding: 1rem;
    /* max-width: 600px; */
    margin-left: 4px;
    max-width: inherit;
    margin-right: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(202, 254, 255, 0.76);
    /* background-color: rgba(0, 183, 255, 0.877); */
}

fieldset:last-of-type {
    border-bottom: none;
}


form {
    margin: 0 auto;
    max-width: 600px;
    min-width: 300px;
    border: 2px solid rgba(202, 254, 255, 0.76);
    display: flex;
    flex-direction: column;
    /* background-color: rgba(27, 86, 123, 0.53); */
    background-color: rgba(28, 102, 115, 0.719);
    color: #ebfeff;
    border-color: #ebfeff;
}

form input,
textarea,
submit {
    background-color: rgba(28, 102, 115, 0.719);
    border-color: #ebfeff;
    color: #ebfeff;

}

header {
    display: inline-flex;
    /* align-content: end;  */
    /* position: relative; 
    justify-content: center; */
    width: 100%;
    padding: 8px;
}

::placeholder {
    color: #ebfeff;
    opacity: 1;
    /* For Firefox users*/
}

html {
    scroll-padding-top: 20px;
    /* height of sticky header */
}

/* NAV NAV NAV */

nav {
    display: flex;
    position: static;
    top: 0;
    width: 100%;
    /* max-height: 70px;  */
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgba(62, 134, 172, 0.573);
    font-size: 20px;
}

nav a {
    font-size: larger;
    color: black;
    border-right: 1px solid #7ed0d3;
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    margin: 0;
}

nav a:hover {
    background-color: rgb(145, 223, 231);
    font-weight: bolder; 
    font-size: larger; 
    /* Below is another way to do this*/
    /* transform: scale(1.1); */
}

nav a:last-child {
    border-right: none;
}


/* FONT FONT FONT */

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rgba(26, 85, 96, 0.075); */
    /* background-color: rgba(26, 85, 96, 0.934); */
}

html {
    /* background-color: rgba(26, 85, 96, 0.934); */
    background-color: rgba(71, 170, 197, 0.753);
}


/* GALLERY GALLERY GALLERY */
.gallery {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 600px;
    min-width: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    justify-content: start;

    
    /*
    border: 1px dashed rgb(221, 0, 255);
    width: 600px; 
    */
    /* align-items: center;
    align-items: stretch; */
}

.gallery div {
    display: grid;
    /* justify-content: center; */
    padding: 5px;
    margin: 8px;
    width: inherit;
    max-width: inherit;
    min-width: inherit;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:#001ba1 1px solid;
}



/* When hovering over one image, it zooms also the descenders of it. Way to fix it?? */
.gallery div:hover{
    border:#ffffff 2px solid;
    transform: scale(1.5);
}

.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
}
/*
section .gallery{
    margin-left: 0 auto;
    max-width: 600px;
    min-width: 300px;
    border:rgb(4, 249, 0) 1pc solid;
} */